<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>socketIOweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- websocket-io的配置文件 -->
   <context-param>
      <param-name>socketIOConfigLocation</param-name>
      <param-value>socketIO.properties</param-value>
   </context-param>
   <!-- websocket-io的监听器 -->
	<listener>
		<listener-class>ins.platform.socketIO.Listener.SocketIOServletContextListener</listener-class>
	</listener>
	<!-- websocket 监听器 -->
	<!-- <listener>
		<listener-class>com.gzw.simplechar.server.WebsocketChatServer</listener-class>
	</listener> -->
</web-app>